<a href="https://colab.research.google.com/github/DiegoAcero28/In-Class-Assignment-Diego-Acero/blob/main/In_class_assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r = 3 # radius
h = 10 # height
pi = 3.14

# Surface Area of cylinder
SA = 2 * pi * r ** 2 + 2 * pi * r * h
print(SA)

244.92000000000002

In [15]:
import random

c = input('Do you want to play?')

while c == 'yes':
  P1 = input('Choose R, P, or S')
  P2 = random.choice(['R', 'P','S'])
  if P1 == P2:
   print('draw')

  elif P1 == 'R' and P2 == 'S' or P1 == 'S' and P2 == 'P' or P1 == 'P' and P2 == 'R':
    print('P1 wins')

  else:
    print('CPU wins')

  c = input('Do you want to continue?')
else:
  print('game end')

Do you want to play?yes
Choose R, P, or SR
CPU wins
Do you want to continue?no
game end

In [ ]:
N1 = float(input('Choose number'))
N2 = float(input('Choose number'))
Symbol = input('Choose op')
if Symbol == '+':
  print(N1 + N2)
elif Symbol == '-':
  print(N1 - N2)
elif Symbol == '*':
  print(N1 * N2)
elif Symbol == '/':
  print(N1 / N2)
elif Symbol == '**':
  print(N1 ** N2)
elif Symbol == '%':
  print(N1 % N2)
elif Symbol == '//':
  print(N1 // N2)

Choose number10
Choose number5
Choose op-
5.0

In [ ]:
flat_rate = 5
for t in range(1,9,1):
  charge = flat_rate + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [17]:
ticketprice = 10
fixed_costs = 200
standardAttendees = 20

for ad in range(0,201,25):
  profit = ticketprice * (standardAttendees + 2 * round(ad ** 0.5)) - fixed_costs - ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [18]:
ticketprice = 10
fixed_costs = 200
standardAttendees = 20

ad = 0
while ad < 201:
  profit = 10 * (standardAttendees + 2 * round(ad ** 0.5)) - fixed_costs - ad

  print(ad, profit)
  ad = ad + 25

25 0
50 75
75 90
100 105
125 100
150 95
175 90
200 85
225 80

In [16]:
l = []
c = input('Do you want to add? ')
while c == 'yes':
  l.append(float(input()))
  print(l)
  c = input('Do you want to continue? ')

Do you want to add? yes
4
[4.0]
Do you want to continue? no

In [20]:
L = []

item = float(input('Give a value: '))
while item != 0:
  L.append(item)
  item = float(input('Give another value: '))
L.sort()
print(L)

Give a value: 3
Give another value: 2
Give another value: 5
Give another value: 6
Give another value: 1
Give another value: 0
[1.0, 2.0, 3.0, 5.0, 6.0]

In [19]:
L = []

while True:
  item = int(input('Give value: '))
  if item == 0:
    break
  L.append(item)
print(L)

Give value: 5
Give value: 3
Give value: 0
[5, 3]

In [11]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
         'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(12):
  months[numbers[i]] = names[i] #

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}